.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: #ffc000;
}
@media screen and (max-width: 420px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
