.swiper-container {
  position: static;
}
.swiper-pagination-bullets {
  bottom: 18% !important;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
}
.swiper-pagination-bullet-active {
  background-color: #ffc000;
}
@media screen and (max-width: 1024px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 768px) {
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 320px) {
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
}
/* @media screen and (max-height: 1366px) {
  .swiper-pagination-bullets {
    bottom: 27% !important;
  }
}
@media screen and (max-height: 1024px) {
  .swiper-pagination-bullets {
    bottom: 18% !important;
  }
}

@media screen and (max-height: 811px) {
  .swiper-pagination-bullets {
    bottom: 20% !important;
  }
}
@media screen and (max-height: 653px) {
  .swiper-pagination-bullets {
    bottom: 24% !important;
  }
}

@media screen and (max-height: 568px) {
  .swiper-pagination-bullets {
    bottom: 20% !important;
  }
} */
